.left{
    min-width: 250px;
    height: 100%;
    margin: 0px 41px 0px 41px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    >h2{
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: white;
        margin-left: 12%;
    }

    >ul{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        >li{
            list-style: none;
            padding: 5px 7px 5px 7px;
            transition: 300ms ease-in-out;

            >a{
                font-size: 20px;
                font-weight: 300;
                color: #989898;
                margin: 0;
                padding: 0;
            }

            &:hover{
                background-color: #272727;
                border-radius: 12px;

                >a{
                    color: white;
                }
            }

            
        }
        
        .openedPage{
            background-color: #272727;
            border-radius: 12px;

            >a{
                color: white;
            }

            &:hover{
                background-color: #272727;
                border-radius: 12px;

                >a{
                    color: white;
                }
            }
        }
    }

    .Browse{
        >li{
            width: 80%;
            margin: 5px 0px 5px 0px ;
            >a{
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                
                >img{
                    width: 27px;
                    height: 27px;
                    margin-right: 20px;
                    filter: grayscale(80%);
                }

                .genreIcon{
                    margin-right: 25px;
                }
            }

            
        }
    }

    .LibrairyTitle{
        margin: 80px 0px 5px 12%; ;
    }

    .Librairy{
        
        >li{
            width: 80%;
            margin: 5px 0px 5px 0px ;
        }
    }
}

@media only screen and (max-width: 860px) {
    .left{
        display: none;
    }
}